$primary_text_color: #757575;
$title-text-color: #212121;
$accent-color:  #2196F3;
$hero-footer-bg-color:#2F303A;
$primaty-wite-color:  #fff;
$secondary-bg-color: #F5F4FA;
$hero-bg-color:#c4c4c4;
$icon-main-color:#AFB1B8;
$gradient-hero-color-from: rgba(47, 48, 58, 0.4);
$gradient-hero-color-to:rgba(47, 48, 58, 0.4);
$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
